<ng-template cxOutletRef="Section1" [cxOutletPos]="before">
    <a [routerLink]="{ cxRoute: 'product', params:{ code: 1934793, name: 'powershot' }} | cxUrl"> PowerShot Red Camera</a>
        <a [routerLink]="{ cxRoute: 'category', params:{ code: 578 }} | cxUrl">SLR Cameras</a>
</ng-template>

<!-- page template-based output -->
<ng-template cxOutletRef="ProductDetailsPageTemplate" [cxOutletPos]="before"> 
    <div *ngIf="isSelectedBrand$ | async " class="before-pdp">Campaign UI for Canon</div> 
</ng-template>

<ng-template [cxOutletRef]="pdpOutlets.SUMMARY">
<div *ngIf="availableForPickup$ |async;notAvailableMessage">Available For Pickup</div>
</ng-template>

<ng-template #notAvailableMessage>
    Not available for Pickup
</ng-template>